@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #3347B0;

}


* {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    width: 100%;
    background-color: var(--cor-primaria);
    padding-inline: 96px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 11px;
    width: 146px;
    height: 76px;
}

.logo img {
    width: 60px;
}

.logo span {
    font-size: 24px;
}

.exit-button {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 124px;
    font-size: 36px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 100px;
    padding-inline: 96px;
    align-items: center;
    justify-content: center;

}
.home{
    display: flex;
    width: 100%;
}
.titulo-curso{
    color: var(--cor-primaria);
    font-size: 64px;
    padding-bottom: 49px;
}
.aluno-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 500px;
    width: 500px;
    align-self: flex-start;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.096);
}

.student-statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 500px;
    width: 500px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.096);
    padding: 30px;

}
.performance{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
}
.performance span{
    font-size: 18px;
    color: var(--cor-primaria);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);
}
.performance .bar{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.099);
}
.fill{
    border-radius: 4px;
}
.aluno-info img {
    width: 400px;
    border-radius: 30px;
}

.aluno-info span {
    font-size: 18px;
    color: var(--cor-primaria);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);
}

.students-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 62px;
}

.students-list .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 16px;
    height: 300px;
    width: 200px;
    background-color: var(--cor-primaria);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.24);
    transition: 1s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 200px;
}

.card span {
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.123);
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
    height: 100%;
}

.left-content img {
    width: 436px;
    height: 262px;
}

.title-text-content {
    height: 156px;
}

.title-text-content p {
    font-size: 57px;
    font-weight: 300;
    color: black;
}

.title-text-content p span {
    color: var(--cor-primaria);
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 100%;
}

.right-content button {
    display: flex;
    gap: 1.5rem;
    align-self: flex-end;
    background-color: var(--cor-primaria);
    width: 400px;
    height: 200px;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    box-shadow: 12px 12px 4px #3347B080;
    border: none;
    transition: 0.3s;
}

.right-content button:hover {
    box-shadow: 12px 12px 4px #3348b000;
    transform: scale(1.05);
}

footer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: 140px;
    background-color: var(--cor-primaria);
    padding-inline: 96px;
}

footer .contacts {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
    height: 98px;
    width: 256px;
}

.contacts span {
    font-weight: 400;
}

.contact {
    display: flex;
    justify-content: left;
    width: 100%;
    gap: 24px;
    align-items: center;
}

.contact:nth-child(3) {
    gap: 30px;
}

.author span {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 400;
}

.social-media {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: end;
    transition: 0.3s;
}

.social-media img {
    transition: 0.15s;
    filter: brightness(0.5);
}

.social-media img:hover {
    transition: 0.3s;
    filter: brightness(1.5);
}